.asset-pack-edit-content {
  margin: 0px 20px !important;

  .asset-table-new-btn {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 15px;
  }

  .edit-section {
    margin-bottom: 20px;
  }
}