.NavMode {
  font-size: 18px;

  .selected {
    font-weight: bold;
    border-right: 3px solid;
  }

  .Route {
    display: flex;
    align-items: center;
    flex-direction: column;
    user-select: none;
    cursor: pointer;

    .RouteContent {
      a {
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      display: flex;
      align-items: center;
      width: 100%;

      .RouteDisplayText { 
        flex: 1;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .expand-button {
        font-size: 12px;
      }
    }


    .BorderOnHover {
      
      &:hover {
        border-right: 3px solid;
        transition: 0.05s;
      }
    }

    span {
      margin-right: 15px;
    }

    .SubRoute {
      font-size: 16px;
      padding-left: 33px;
    }
  }

}

.MapEditMode {
  .search-input {
    display: flex;
    flex-direction: row;

    .filter-button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      width: 32px;
      height: 32px;
    }
  }

  .asset-container {
    padding: 5px 10px;
  }
}