.NavMode {
  font-size: 18px;
  padding-left: 15px;

  .selected {
    font-weight: bold;
    border-right: 3px solid;
  }

  .Route {
    padding: 10px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .BorderOnHover {
      
      &:hover {
        border-right: 3px solid;
        transition: 0.05s;
      }
    }

    span {
      margin-right: 15px;
    }

    .SubRoute {
      padding: 0px;
      padding-left: 33px;
    }
  }

}