$text-color:  #dbdbdb;
$primary-background-color: #383838;
$secondary-background-color: #222222;
$tertiary-background-color: #2c2c2c;
$secondary-text-color: #84cafa;
$ligher-secondary-text-color: #9dd4f9;
$bright-background-color: white;


.DarkTheme {
  color: $text-color;
  background-color: $primary-background-color;

  a {
    color: $text-color;
  }

  h1 {
    color: $text-color;
  }
  
  label {
    color: $text-color;
  }

  .ListPageHeader {
    h2 {
      color: $text-color;
      font-weight: bold;
    }
  }

  .MainAppOutPut {
    background-color: $primary-background-color;
  }

  .Sidebar {
    background-color: $secondary-background-color;
    // box-shadow: -1px -1px 8px 0px #00000080;

    .BarHeader {
      background-color: $tertiary-background-color;
      h4 {
        color: $secondary-text-color;
      }
    }

    .BarFooter {
      color: $secondary-text-color;
    }

    .NavMode {
      .selected {
        color: $secondary-text-color;

        a {
          color: $secondary-text-color;
        }
      }

      .Route {
        .SubRouteContent {
          background: $tertiary-background-color;
        }
      }
    }
  }

  .MapEditor {
      .map-editor-header {
        background-color: $secondary-background-color;
      }

      .map-editor-inspector {
        background-color: #2c2c2c;
      }

      .toolbox {
        color: $secondary-text-color;
        .tool {
          border-color: $secondary-background-color;
          background-color: $tertiary-background-color;

          &:hover {
            color: $ligher-secondary-text-color;
            transition: 0.2s;
            background-color: $primary-background-color;
          }
        }
      }

    .mosaic {
      background: $primary-background-color;
      .mosaic-root {
        .mosaic-tile {
        }
      }

    }

    .ant-tabs {
      color: $text-color;

      .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        color: $secondary-text-color;
      }

      .ant-tabs-ink-bar {
        background: $secondary-text-color;
      }
    }
  }

  .Campaigns {
    padding: 8px;
    .CampaignsHeader {
      h4 {
        color: $secondary-text-color;
      }
    }

    .Campaign {
      color: $primary-background-color;
      background: $bright-background-color;
    }
  }

  .ant-drawer {
    .ant-drawer-header {
      .ant-drawer-title {
        color: $secondary-text-color;
      }
      background: $secondary-background-color;
    }
    
    .ant-drawer-content-wrapper {
      .ant-drawer-content {
        background-color: $primary-background-color;

        .ant-form-item-label > label {
          color: $text-color;
        }
      }
    }
  }

  .ant-breadcrumb {
    .selected {
      color: $secondary-text-color;
    }

    span {
      color: $text-color;

      a {
        color: $text-color;
      }
    }
  }

  .ant-collapse {
    background-color: $tertiary-background-color;
    border-color: $secondary-background-color;

    .ant-collapse-item {
      border-color: $secondary-text-color;
      .ant-collapse-header{
        color: $secondary-text-color;
      }

      .ant-collapse-content {
        background-color: $primary-background-color;
        border-color: $secondary-text-color;
        color: $text-color;
      }
    }
  }

  .ant-form-item {
    color: $text-color;
  }

  .ant-table {
    background: $tertiary-background-color;

    .ant-table-thead {
      background: $secondary-background-color;

      &> tr > th {
        background: $secondary-background-color;
      }
    }

    .ant-table-tbody > tr.ant-table-row:hover > td {
        background-color: $secondary-background-color;
    }

    .ant-table-row {
      td {
        &:hover {
          background-color: $secondary-background-color !important;
        }
      }
    }
    
    .ant-table-row-level-0 {
      &:hover {
        background-color: $secondary-background-color !important;
      }
    }
    
    .ant-table-cell {
      color: $text-color;

      &:hover {
        background-color: $primary-background-color;
      }
    }

    .ant-empty {
      color: $text-color;
    }
  }

  .ant-pagination-item-active {
    background: $tertiary-background-color;
    border-color: $secondary-text-color;
    color: $secondary-text-color;
  }
  
  .ant-pagination {
    button {
      background-color: $tertiary-background-color;
      color: $text-color;
    }
  }

  .FormContainer {
    .FormBackground {
      background: $bright-background-color;
    }
  }

  .breadcrumb-container {
    background: $tertiary-background-color;

    .save-button {
      background: $secondary-background-color;
      color: $text-color;
      border-radius: 4px;
      border: none;
      font-weight: bold;

      &:hover {
        color: $secondary-text-color;
      }
    }
  }

  .tabs-container {
    color: $text-color;
    border-bottom: 2px solid $tertiary-background-color;

    .add-btn {
      font-weight: bold;
    }

    .tab {
      background-color: $primary-background-color;

      &:hover {
        background-color: $tertiary-background-color;
        transition: 0.3s;
      }

      .anticon {
        &:hover {
          font-weight: bold;
        }
      }
    }

    .active-tab {
      background-color: $tertiary-background-color;
      color: $secondary-text-color;
    }
  }

  .asset-pack-edit-content {
    .edit-section {
      background-color: $secondary-background-color;
    }

    .asset-section-header {
      h2 {
        color: $text-color;
      }
    }

    .ant-form-item-label {
      label {
        color: $text-color;
      }
    }
  }

  .tags {
    border: 2px solid $secondary-background-color;
    background-color: $tertiary-background-color;
    .tag {
      border: 1px solid $text-color;
      border-radius: 4px;
      color: $text-color;
    }

    .tag-input {
      color: $secondary-background-color;
    }
  }
}

.ant-tree {
  background-color: transparent !important;
  color: $text-color !important;

  .ant-tree-node-selected {
    background-color: $primary-background-color !important;
    color: $secondary-text-color !important;
  }
  
  .ant-tree-node-content-wrapper {

    &:hover {
      background-color: $primary-background-color !important;
    }
  }
}
