$text-color:  #dbdbdb;
$primary-background-color: #383838;
$secondary-background-color: #222222;
$tertiary-background-color: #2c2c2c;
$secondary-text-color: #84cafa;
$bright-background-color: white;


.DarkTheme {
  color: $text-color;
  background-color: $primary-background-color;

  a {
    color: $text-color;
  }

  .MainAppOutPut {
    background-color: $primary-background-color;
  }

  .Sidebar {
    background-color: $secondary-background-color;
    // box-shadow: -1px -1px 8px 0px #00000080;

    .BarHeader {
      background-color: $tertiary-background-color;
      h4 {
        color: $secondary-text-color;
      }
    }

    .BarFooter {
      color: $secondary-text-color;
    }

    .NavMode {
      .selected {
        color: $secondary-text-color;

        a {
          color: $secondary-text-color;
        }
      }
    }
  }

  .MapEditor {

    .MapEditorContent {
      background-color: $secondary-background-color;
    }

    .mosaic {
      background: $primary-background-color;
      .mosaic-root {
        .mosaic-tile {
        }
      }

    }

    .ant-tabs {
      color: $text-color;

      .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        color: $secondary-text-color;
      }

      .ant-tabs-ink-bar {
        background: $secondary-text-color;
      }
    }
  }

  .Campaigns {
    padding: 8px;
    .CampaignsHeader {
      h4 {
        color: $secondary-text-color;
      }
    }

    .Campaign {
      color: $primary-background-color;
      background: $bright-background-color;
    }
  }

  .FormContainer {
    .FormBackground {
      background: $bright-background-color;
    }
  }
}

