.MapEditor {
  display: flex;
  flex-direction: row;
  height: inherit;
  .MapEditorContent {
    display: flex;
    border-radius: 8px;
    flex: 1;
  }

  .mosaic {
    .mosaic-root {
      // position: unset;
      .mosaic-tile {
        // margin: 0px;
      }

      .mosaic-split {

      }
    }

  }
}